<div class="first">
<h1>Home page</h1>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<a class="f1" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
<i id="icon"  class="fas fa-search"></i>
<a  class="f2" routerLink="/albums" routerLinkActive="active" ariaCurrentWhenActive="page">Albums</a>
<i id="icon" class="fa fa-camera-retro" aria-hidden="true"></i>
</div>
<style>
    *{
        background-color: aquamarine;
    }
    .first{
        margin-top: 150px;
        text-align: center;
        font-size: 60px;
    }
    .f2{
        margin-left: 70px;
    }
    #icon{
        margin-left: 10px;
    }
</style>